.reword-icon-fix
{
    border-radius: inherit !important;
    border: none !important;
    border-bottom: 2px solid gray !important;
    background-color:#f2f2f2 !important;
    border-top-left-radius: 7px !important;
}

.reward-icon-side-fix
{
    font-size: 25px;
    color: gray;
}

.reward-lab-fix{
    color: gray ;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 500;
}



.reward-input-fixing 
{
    border-radius: inherit !important;
    border: none !important;
    border-bottom: 2px solid gray !important;
    background-color: #f2f2f2 !important; 
    border-top-right-radius: 7px !important;
    padding-top: 19px !important;
    padding-bottom: 16px !important;
}